body {
    background: black;
}

#main {
    width: 500px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

form {
    color: white;
}

p {
    font-family: sans-serif;
    color: white;
}