body {
    background: black;
}

#main {
    width: 500px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#file_list {
    float: left;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.red {
    color: red;
}
.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

form {
    color: white;
}

p {
    font-family: sans-serif;
    color: white;
}
